<!DOCTYPE html>
<html>
  <head>
    <title>Champfrogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= image_tag "champ_frog.png", class: "logo" %>
    <%= yield %>


    
    <div class="footer container">
      <p>www.lambda3.com.br</p>
    </div>
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" ></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application" %>

  </body>
</html>


